@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3><a href="http://pomodorotechnique.com/" onclick="return confirm('You are going to leave Planner')">Learn more about pomodoro techinque</a></h3>
