@{
    ViewBag.Title = "Timer";
}

<style>
    table {
        width: 500px;
        border: 1px solid black;
        margin: auto;
    }

    td {
        /*border: 1px solid black;*/
        text-align: center;
    }
</style>
<br>
<table>
    <tr>
        <td colspan="2">
            <h1>Plan every task </h1>
        </td>
    </tr>
    <tr>
        <td>Make yourself more <font color="#ffc933"> concentrated </font> <br>
        <nbsp>while working on your task!</td>
        <td><img src="~/Content/Pictures/TimerScreenShot.PNG"></td>
        </tr>
</table>
