@using Planner_0.Models.Planner;
@model PlannerModel.Task

@section scripts{
    <script src="~/Scripts/Services/JsonTaskModule.js"></script>
    <script src="~/Scripts/Components/TimeInput/timeinput.directive.js"></script>
}

@{
    ViewBag.Title = "Task list";
}


<style>
    table {
        width: 80%;
        border-collapse: collapse;
        border-radius: 5px;
        margin: auto;
        background: #fad201;
    }

    td {
        padding-top: .5em;
        padding-bottom: .5em;
        text-align: center;
    }

    .card {
        display: inline-block;
        width: 300px;
        height: 400px;
        border: 1px solid #000;
        margin: 10px 10px 0 0;
        padding: 10px;
    }
</style>


@*@{
    if (ViewBag.Task != null)
    {
        List<PlannerModel.Task> tasks = (ViewBag.Task as IEnumerable<PlannerModel.Task>).ToList<PlannerModel.Task>();

        foreach (var t in tasks)
        {
            <table>
                <tr>
                    <td width="92"><h2>@t.Title</h2></td>


                    <td width="8%">
                        @Html.ActionLink("Get detail", "Details", "Planner", new { id = t.Task_ID }, new { @class = "btn btn-edit" })
                    </td>
                </tr>

            </table>
            <br><br>
            }
        }
    }*@

<h1>HERE COMES MAGIC</h1>

    <time-input></time-input>



<div class="container">
    <br />
    <br />
    <input type="text" placeholder="Search task" ng-model="searchTask" />
    <br />
    <div ng-controller="JsonTaskController">
        <div ng-repeat="r in tasks | filter : searchTask" class="card">
            <div>{{r.Title}}</div>

            <div><a data-ng-href="@Url.Action("Details", "Planner")/{{r.Task_ID}}" target="_self">Details</a></div>

        </div>
    </div>
</div>

