@using Planner_0.Models.Planner;
@model PlannerModel.Task

@section scripts{
    <script src="~/Scripts/Services/JsonTaskModule.js"></script>
    <script src="~/Scripts/Components/TimeInput/timeinput.directive.js"></script>
    <script src="~/Scripts/Components/TaskCard/taskcard.directive.js"></script>
}

@{
    ViewBag.Title = "Task list";
}

<div class="container">
    <div ng-controller="JsonTaskController">
        <input type="text" placeholder="Search task" ng-model="searchTask" />
        <br>
        <taskcard ng-repeat="t in tasks | filter:{Title: searchTask}" item="t" id="{{$index}}" class="card"></taskcard>
    </div>
</div>

