@using Planner_0.Models.Planner;
@model PlannerModel.Task

@{
            ViewBag.Title = "Task list";
}


@foreach (var t in ViewBag.Task)
{
    <table>
        <tr>
            <td width="92"><h2>@t.Title</h2></td>


            <td width="8%">
                @Html.ActionLink("Get detail", "Details", "Planner", new { id = t.Task_ID }, new { @class = "btn btn-edit" })
            </td>
        </tr>

    </table>
    <table>
        <tr></tr>
    </table>
        <br><br>
}


<style>
    table {
        width: 80%;
        border-collapse: collapse;
        border-radius: 5px;
        margin: auto;
        background: #fad201;
    }

    td {
        padding-top: .5em;
        padding-bottom: .5em;
        text-align: center;
    }
</style>