@using Planner_0.Models.Planner;
@model PlannerModel.Task

@{
            ViewBag.Title = "ListOfTaskView";
}

<h1>User id is</h1>
<h2>@ViewBag.User</h2>



@foreach (var t in ViewBag.Task)
{
    <table>
        <tr>
            <td width="76"><h2>@t.Title</h2></td>
            <td width="8%">
                <input class="btn btn-delete" type="button" name="delete_task" value="delete">
                
            </td>
            <td width="8%">
                <input class="btn btn-edit" type="button" name="edit_task" value="edit"
                       onClick="Start_timer(time_input);">
            </td>
            <td width="8%">
                @Html.ActionLink("Get detail", "Details", "Planner", new { id = t.Task_ID }, new { @class = "btn btn-edit" })
            </td>
        </tr>

    </table>
    <br><br>
}


<style>
    table {
        width: 70%;
        border-collapse: collapse;
        border-radius: 5px;
        margin: auto;
        background: #fad201;
    }

    td {
        padding-top: .5em;
        padding-bottom: .5em;
        text-align: center;
    }
</style>