@using Planner_0.Models.Planner;
@model PlannerModel.Task

@section scripts{
    <script src="~/Scripts/Services/JsonTaskModule.js"></script>
    <script src="~/Scripts/Components/TimeInput/timeinput.directive.js"></script>
    <script src="~/Scripts/Components/TaskCard/taskcard.directive.js"></script>
}

@{
    ViewBag.Title = "Task list";
}


<style>
    /*table {
        width: 80%;
        border-collapse: collapse;
        border-radius: 5px;
        margin: auto;
        background: #fad201;
    }

    td {
        padding-top: .5em;
        padding-bottom: .5em;
        text-align: center;
    }*/

    .card {
        display: inline-block;
        width: 300px;
        height: 150px;
        border: 1px solid #000;
        margin: 10px 10px 0 0;
        padding: 10px;
    }
    .Zoom{
        zoom: 150%;
    }
    .unZoom{
        zoom: 100%;
    }
    textarea {
   resize: none;
   background-color: #ffc933;
}
</style>



<div class="container">
    <br />
    <input type="text" placeholder="Search task" ng-model="searchTask" />
    <br />
    <div ng-controller="JsonTaskController">
        <taskcard ng-repeat="t in tasks" item="t" id="{{$index}}" | filter : searchTask" class="card"></taskcard>

    </div>
</div>

